@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BasePageViewModel>
@using SampleUmbracoProject.Models.PageModels
@using SampleUmbracoProject.Models.ViewModels
﻿@{
    Layout = "~/Views/Shared/master.cshtml";
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", Model.PageHeader)
<form asp-controller="Login" asp-action="Login" method="post" class="contact-form" novalidate>
    
    <button type="submit" class="btn btn-primary">Login with PingID</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
@if (Model.HomePageModel.ContentRows != null)
{
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @Html.GetBlockListHtml(Model.HomePageModel.ContentRows)
                </div>
            </div>
        </div>
    </article>
}