@inherits UmbracoViewPage<SampleUmbracoProject.Models.ViewModels.BasePageViewModel>
﻿@{
    Layout = "~/Views/Shared/master.cshtml";
    var pageModel = Model.PageModel as ThankYouPage;
}
@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", Model.PageHeader)

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.GetBlockListHtml(pageModel.ContentRows)
            </div>
        </div>
    </div>
</article>